<div class="timings">
    <h2 class="text--primary">Consultation Timings</h2>
    <div class="timings_list">
        <div class="timings_hospital fill--primary">
            <div>
                <mat-icon>add_location</mat-icon>
                <span>Health hospital,<br /> Tenali</span>
            </div>
            <div>
                <mat-icon>schedule</mat-icon>
                <span>24x7 365 days </span>
            </div>
            <div>
                <mat-icon>call</mat-icon>
                <span>+91 75800 72925</span>
            </div>
        </div>
        <div class="timings_hospital fill--primary">
            <div>
                <mat-icon>add_location</mat-icon>
                <span>Annapurna superspeciality Hospital,<br /> Gudivada</span>
            </div>
            <div>
                <mat-icon>schedule</mat-icon>
                <span>Fridays 4PM to 7PM</span>
            </div>
            <div>
                <mat-icon>call</mat-icon>
                <span>+91 75800 72925</span>
            </div>
        </div>
        <div class="timings_hospital fill--primary">
            <div>
                <mat-icon>add_location</mat-icon>
                <span>Indo-British Hospitals,<br /> Vijayawada</span>
            </div>
            <div>
                <mat-icon>schedule</mat-icon>
                <span>Wednesday 2 PM to 5 PM</span>
            </div>
            <div>
                <mat-icon>call</mat-icon>
                <span>+91 75800 72925</span>
            </div>
        </div>
        <div class="timings_hospital fill--primary">
            <div>
                <mat-icon>add_location</mat-icon>
                <span>Kolkatta North24 parganas,<br /> Kolkata</span>
            </div>
            <div>
                <mat-icon>schedule</mat-icon>
                <span>2nd nd 4 th Sunday , 7 am to 7 pm</span>
            </div>
            <div>
                <mat-icon>call</mat-icon>
                <span>+91 75800 72925</span>
            </div>
        </div>
    </div>
</div>

<div class="timings-banner"></div>