<img src="/assets/social-logo.png" alt="Social Work Logo" height="140px"/>
<h2>EDUPUGANTI VENKATARAMAIAH</h2>
<h3>CHARITABLE TRUST</h3>
<p>Food serves for a day , Education serves for a life , Health serves for a family .</p>
<br/>
<a href="http://evrcharitabletrust.org" class="trust-btn" rel="noopener noreferrer" target="_blank" mat-flat-button>
    <mat-icon style="--size: 20px">launch</mat-icon>&nbsp;&nbsp;
    <span>Open Website</span>
</a>
<br/>
<br/>
<button mat-mini-fab class="close-btn" mat-dialog-close>
    <mat-icon>close</mat-icon>
</button>
<div class="actions">
    <button mat-button color="accent" mat-dialog-close>
        <mat-icon>close</mat-icon>&nbsp;
        <span>CLOSE</span>
    </button>
</div>