<mat-toolbar color="primary">
    <app-logo style="--size: 36px;--color: #FFF"></app-logo>&nbsp;
    <span>Admin Portal</span>
    <div style="flex: 1;"></div>
    <button mat-icon-button matTooltip="Appointments">
        <mat-icon>date_range</mat-icon>
    </button>&nbsp;
    <button mat-icon-button matTooltip="Admin">
        <mat-icon>account_box</mat-icon>
    </button>&nbsp;
    <button mat-icon-button matTooltip="Logout" (click)="onLogoutHandler()">
        <mat-icon>exit_to_app</mat-icon>
    </button>
</mat-toolbar>
<br/>
<main>
    <router-outlet></router-outlet>
</main>