<div class="profile-image"></div>
<div class="profile-wrapper">
    <h2 class="title">Dr. Rajyalakshmi Idpuganti</h2>
    <h4 class="sub-title text--primary">NEURO, Medicine, Surgery</h4>
    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at
        its layout.</p>
    <ul>
        <li>Director of EVR CHARITABLE TRUST</li>
        <li>Neuro surgery course trainer at KONCEPT Chennai</li>
        <li>Member of NSI, NSSI, WINSI, WBSS</li>
        <li>Provide patient oriented treatment</li>
        <li>Less cost still effective surgeries and treatment</li>
        <li>Well equipped neuro team and neuro theatre and neuro ICUset up available</li>
        <li>Can Speak Telugu, Tamil, Kannada, Bengali, Hindi and English</li>
    </ul>
</div>
<button mat-mini-fab class="close-btn" mat-dialog-close>
    <mat-icon>close</mat-icon>
</button>
<div class="actions">
    <button mat-button color="accent" mat-dialog-close>
        <mat-icon>close</mat-icon>&nbsp;
        <span>CLOSE</span>
    </button>
</div>