:host {
    display: block;
    background-color: #FFF;
    padding: 1px;
    border-radius: 5px;
    overflow: hidden;
    max-width: 980px;
    margin: auto;
}

.header {
    border-radius: 5px 5px 0 0;
    line-height: 56px;
    text-align: center;
    background-color: rgba(#000, .03);
    border-bottom: 1px solid rgba(#000, .03);
    font-size: 22px;
    font-weight: 500;
}
mat-horizontal-stepper {
    padding: 1px;
}

::ng-deep .step-form {
    width: 100%;
    max-width: 480px;
    margin: 12px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    mat-form-field {
        width: calc(50% - 3px);
    }
}