.done-wrapper {
  text-align: center;
  mat-icon {
    --size: 28px;
    padding: 18px;
    border: 2px solid currentColor;
    border-radius: 50%;
  }
}

form {
  display: block;
  width: 100%;
  box-sizing: border-box;
}
mat-form-field {
  width: 100%;
}
.actions {
  display: flex;
  justify-content: space-between;
  margin: 12px 0;
}
