<app-public>
    <div class="done-wrapper" *ngIf="isDone;else formTemplate">
        <mat-icon color="primary">done_all</mat-icon>
        <br/><br/>
        <p>Password reset is done, you can login with new credentails now</p>
        <br/>
        <a href="javascript:void(0)" [routerLink]="loginUrl" mat-flat-button color="primary">Login Now</a>
    </div>
    <ng-template #formTemplate>
        <form [formGroup]="resetForm" *ngIf="isPasswordScreen;else verifyTemplate">
            <h2 class="text--primary" style="margin-bottom: 3px;">Reset Password</h2>
            <p style="margin-bottom: 20px;">
                Set your new password now
            </p>
            <mat-form-field appearance="fill">
                <mat-label>New Password</mat-label>
                <mat-icon matPrefix color="primary" style="margin-right: 5px;">lock</mat-icon>
                <input formControlName="password" matInput type="password" placeholder="Enter Password" />
                <mat-error>{{resetForm.controls.password.errors | validate : 'New Password'}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" style="margin-top: 9px;">
                <mat-label>Confirm Password</mat-label>
                <mat-icon matPrefix color="primary" style="margin-right: 5px;">lock</mat-icon>
                <input formControlName="confirmPassword" matInput type="password" placeholder="Enter Password" />
                <mat-error>{{resetForm.controls.confirmPassword.errors | validate : 'Confirm Password'}}</mat-error>
            </mat-form-field>
            <div class="actions">
                <button mat-flat-button type="button" [disabled]="resetForm.disabled" (click)="onResetHandler()" color="primary">
                    Reset Password
                </button>
            </div>
        </form>
        <ng-template #verifyTemplate>
            <form [formGroup]="verifyForm" *ngIf="isOtpScreen;else emailTemplate">
                <h2 class="text--primary" style="margin-bottom: 3px;">OTP Verification</h2>
                <p style="margin-bottom: 20px;">
                    We have sent a one time password to your provided email, please verify to reset your password.
                </p>
                <mat-form-field appearance="fill">
                    <mat-label>One Time Password</mat-label>
                    <input matInput formControlName="otpCode" type="tel" maxlength="4" placeholder="Enter OTP" />
                    <mat-icon matPrefix color="primary" style="margin-right: 5px;">screen_lock_portrait</mat-icon>
                    <span class="text--warn" matSuffix>{{ timer.text }}</span>
                    <mat-error>{{verifyForm.controls.otpCode.errors | validate : 'OTP'}}</mat-error>
                </mat-form-field>
                <div class="actions">
                    <button type="button" [disabled]="verifyForm.disabled" (click)="onResendHandler()" mat-stroked-button color="primary">
                        Resend OTP
                    </button>
                    <button mat-flat-button [disabled]="verifyForm.disabled || timer.isExpired" type="button" color="primary" (click)="onVerifyHandler()">
                        Verify
                    </button>
                </div>
            </form>
            <ng-template #emailTemplate>
                <form [formGroup]="forgotForm">
                    <h2 class="text--primary" style="margin-bottom: 3px;">Forgot Password</h2>
                    <p style="margin-bottom: 20px;">Forgot Your Password? Don't worry send us your registered email address and we will send you steps to reset your password.
                    </p>
                    <mat-form-field appearance="fill">
                        <mat-label>Email ID</mat-label>
                        <input matInput formControlName="email" type="email" placeholder="Enter your email" />
                        <mat-icon matPrefix color="primary" style="margin-right: 5px;">email</mat-icon>
                        <mat-error>{{forgotForm.controls.email.errors | validate : 'Email ID'}}</mat-error>
                    </mat-form-field>
                    <div class="actions">
                        <a href="javascript:void(0)" mat-stroked-button color="primary" [routerLink]="loginUrl">
                            Back To Login
                        </a>
                        <button mat-flat-button [disabled]="forgotForm.disabled" (click)="onForgotHandler()" type="button" color="primary">
                            Submit
                        </button>
                    </div>
                </form>
            </ng-template>
        </ng-template>
    </ng-template>
</app-public>