<h2 class="text--primary">Services We Provide</h2>
<!-- <ul>
    <li *ngFor="let service of services">
        {{service}}
    </li>
</ul> -->
<div class="popup-content">
    <mat-expansion-panel *ngFor="let service of services">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{service}}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin
            literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney
            College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and
            going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum
            comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by
            Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance.
            The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
    </mat-expansion-panel>
</div>
<button mat-mini-fab class="close-btn" mat-dialog-close>
    <mat-icon>close</mat-icon>
</button>
<div class="actions">
    <button mat-button color="accent" mat-dialog-close>
        <mat-icon>close</mat-icon>&nbsp;
        <span>CLOSE</span>
    </button>
</div>